@import url("https://fonts.google.com/specimen/Outfit");

*{
    font-family: Outfit, sans-serif, Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(217, 54%, 11%);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    

}

#card{
    max-width: 20%;
    max-height: 90%;
    background-color:hsl(216, 50%, 16%);
    padding:20px;
    border-radius: 25px;
    display:flex;
    flex-direction:column;
    color:white;
}

#bal-time{
    display:flex;
    justify-content:space-between;
}

.balance {
    color: hsl(178, 100%, 50%)
}

#equilibriumLogo{
    border-radius: 25px;
    
}

#crediting-sect{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

#credit-photo{
    border-radius: 50%;
    border: solid white 2px;
    max-height: 30px;
}

.hover-blue:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);

}